<div class="container my-5">

    <h1>LOGIN</h1>
    <br>
    <form class="form" role="form" action="/login" method="post" autocomplete="off">

        <div class="form-group">
            <input name='username' placeholder="Nombre" class="form-control" type="text" required>
        </div>
        <div class="form-group">
            <input name='password' placeholder="Password" class="form-control" type="password" required>
        </div>

        <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Login">
        </div>
    </form>

    <hr>
    <form action="/">
        <div class="text-center"></div>
            <button class="btn btn-info my-3">Back to home page</button>
        </div>
    </form>

</div>