<h1>Welcome Coders</h1>

<form action="/login">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Login">
    </div>
</form>

OR

<form action="/signup">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Sign Up">
    </div>
</form>