<h2>User Profile</h2>

{{#if isUser}}
    <div class="container text-center my-3">
        <div class="jumbotron" style="background-color: green;color: white;">
            <h1>USER OK LOGIN!</h1>
            <h2><i>Bienvenido {{user.username}}</i></h2>
            <br>
            <h3>Nombre: {{user.firstName}}</h3>
            <h3>Apellido: {{user.lastName}}</h3>
            <h3>Email: {{user.email}}</h3>
            <form action="/logout">
                <div class="text-center"></div>
                    <button class="btn btn-danger my-5">LOGOUT</button>
                </div>
            </form>
        </div>
    </div>
{{/if}}
