<ul>
    <% mascots.forEach(function(mascot) { %>
        <li>
            <strong><%= mascot.name %></strong>
            representating <%= mascot.organization %>, born <%= mascot.birth %>
        </li>     
    <% }); %>   
</ul>